<footer>
<ul class="vcard">
  <li class="alpha"><a href="mailto:info@ebpr.ch" title="Email"><span class="codedirection">hc.rpbe@ofni</span></a><br /><a class="url fn" href="/" title="Home">www.ebpr.ch</a></li>
  <li><a href="http://maps.google.ch/maps?q=freyastrasse+14+z%C3%BCrich&amp;hl=de&amp;ie=UTF8&amp;sll=46.454889,9.243622&amp;sspn=0.92622,1.698761&amp;vpsrc=0&amp;gl=ch&amp;hnear=Freyastrasse+14,+Kreis+4,+8004+Z%C3%BCrich&amp;t=m&amp;z=17" title="Google Maps" target="_blank">Freyastrasse 14<br />CH-8004 Zürich</a></li>
  <li><span class="type">T: </span><span class="value">+ 41 (0)44 482 61 53</span><br /><span class="type">F: </span><span class="value">+ 41 (0)44 482 34 51</span></li>
  <li class="omega"><a href="/impressum/" title="Impressum">©2011 EBPR<br />Impressum</a></li>
</ul>
</footer>