<footer>
<div class="row">
  <p class="large-3 columns"><span class="line"></span><a href="mailto:info@ebpr.ch" title="Email">info@ebrp.ch</a><br /><a class="url fn" href="/" title="Home">www.ebpr.ch</a></p>
  <p class="large-3 columns"><span class="line"></span><a href="http://bit.ly/YA2MHK" title="Google Maps" target="_blank">Freyastrasse 14<br />CH-8004 Zürich</a></p>
  <p class="large-3 columns"><span class="line"></span><a href="tel:0041444826153">T: +&nbsp;41&nbsp;(0)44&nbsp;482&nbsp;61&nbsp;53<br />F: +&nbsp;41&nbsp;(0)44&nbsp;482&nbsp;34&nbsp;51</a></p>
  <p class="large-3 columns"><span class="line"></span><a href="/impressum/" title="Impressum">© 2013 EBPR<br />Impressum</a></p>
</div>
</footer>
