<footer>
<div id="footer-wrap">
<ul class="vcard">
  <li><span class="line"></span><a href="mailto:info@ebpr.ch" title="Email">info@ebrp.ch</a><br /><a class="url fn" href="/" title="Home">www.ebpr.ch</a></li>
  <li><span class="line"></span><a href="http://bit.ly/YA2MHK" title="Google Maps" target="_blank">Freyastrasse 14<br />CH-8004 Zürich</a></li>
  <li><span class="line"></span><a href="tel:0041444826153">T: + 41 (0)44 482 61 53<br />F: + 41 (0)44 482 34 51</a></li>
  <li><span class="line"></span><a href="/impressum/" title="Impressum">©2013 EBPR<br />Impressum</a></li>
</ul>
</div>
</footer>
