@import compass/typography/text/ellipsis
@import compass/css3

+font-face("Mager", font-files("/fonts/Mager.eot#", eot,"/fonts/Mager.ttf", truetype, "/fonts/Mager.otf", opentype))
+font-face("Normal", font-files("/fonts/Normal.eot#", eot,"/fonts/Normal.ttf", truetype, "/fonts/Normal.otf", opentype))
+font-face("Fett", font-files("/fonts/Fett.eot#", eot,"/fonts/Fett.ttf", truetype, "/fonts/Fett.otf", opentype))

.orbit-prev, .orbit-next, .orbit-slide-number
  display: none!important
.row
  max-width: 60.5em!important
a
  color: #000
  &:hover
    color: #000

li
  list-style: none
.orbit-container
  background: none!important
.orbit-caption
  background: #EEE!important
  text-align: right
  color: #777!important

.orbit-progress
  background: #FFF !important
  opacity: 0.5
body
  font-family: "Normal"
  font-weight: normal
  +word-break(break-word)
  +hyphens(auto)

.content
  +background-image(linear-gradient(#fff,#FFF 70%, #EEE))
  background-size: 100% 100%
.spacer
  height: 100px
  display: block
  clear: both
h1, h2
  font-size: 24px
  font-weight: normal
  @media ( max-width: 600px )
    font-size: 16px
h1
  font-family: "Mager"
  line-height: 1.4
  @media ( max-width: 600px )
    font-family: "Normal",sans-serif
h2
  border-top: 1px solid
  padding-top: 3px
  padding-bottom: 14px
  margin-top: 40px
  line-height: 1.0
  font-family: "Fett",sans-serif
  @media ( max-width: 600px )
    margin-top: 20px

p
  line-height: 1.4
  font-weight: normal

strong
  font-weight: normal
  font-family: "Fett",sans-serif

header
  padding-top: 50px
  padding-bottom: 50px
  @media ( max-width: 600px )
    padding-top: 20px
    padding-bottom: 20px

nav
  ul
    float: right
  li
    float: left
  a
    +transition-property(color)
    +transition-duration(0.5s)
    margin: 10px
    font-family: "Fett",sans-serif
    font-size: 15px
    letter-spacing: 0.5
    text-transform: uppercase
    color: #BBB
    &:hover
      border-bottom: 2px solid
  @media ( max-width: 700px )
    padding-top: 30px
    ul
      float: left
.selected
  color: #373737
  border-bottom: 2px solid

.intro
  h1
    padding-top: 10px
    padding-bottom: 0px

.referenzen>div, .team>div
  li
    border-top: 1px solid #CCC
    +ellipsis()
    &:last-child
      border-bottom: 1px solid
  .old
    color: #BBB
  .star
    padding: 0px 10px
    font-size: 30px
    position: relative
    top: 4px

footer
  background: #EEE
  padding-top: 70px
  padding-bottom: 100px
  .line
    border-top: 1px solid
    width: 100%
    display: block
    padding-bottom: 4px

.shadow .orbit-container
  +box-shadow(2px 4px 20px #CCC)


#logo
  img
    +transition-property(left)
    +transition-duration(1s)
    position: relative
    top: 2px
    @media ( min-width: 1200px )
      left: -107px

ul
  img
    display: none

.orbit-slides-container
  img
    display: block
