<!doctype html>  
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% if page.title %} {{page.title}} | {% endif %}{{site.title}}</title>
  <meta name="description" content="EBPR bietet umfassende Kommunikationslösungen für das Luxussegment.">
  <meta name="author" content="Eliane Bachenheimer Public Relations">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="L83dfs98IxZkkQcMlk3If3SkMtiHmSKnU5SH8_F_KcY" />
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="/css/grid.css">
  <script src="/js/libs/modernizr-1.6.min.js"></script>
</head>
<body>
  <div id="container">
    <header><a href="/" title="HOME"><img src="/images/logo.jpg" alt="EBPR"></a></header>
    {% include nav.html %}{{ content }}{% include footer.html %}<div id="twitter"></div>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="/js/jquery.cycle.all.js"></script>
  <script>
  $(document).ready(function(){ 
    if($('#slider').length>0)$('#slider').cycle({fx:'fade',next: '#slider',delay:1000, speed:700});
    if($(".team").length>0){
       $('#eliane').hover(function() { $('#slider').delay(1000).cycle('pause');$('#slider').cycle( 0,{autostop: 0}); });
       $('#katja').hover(function()  { $('#slider').delay(1000).cycle('pause');$('#slider').cycle( 1,{autostop: 0}); });
       $('#gianluca').hover(function()  { $('#slider').delay(1000).cycle('pause');$('#slider').cycle( 2,{autostop: 0}); });
       $('#annigna').hover(function(){ $('#slider').delay(1000).cycle('pause');$('#slider').cycle( 3,{autostop: 0}); });
    }
   });
   var _gaq = [['_setAccount', 'UA-9138538-1'], ['_trackPageview']];
   (function(d, t) {
    var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    g.async = true;
    g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s);
   })(document, 'script');
  </script>
</body>
</html>
